body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  border: solid black;
  gap: 5px;
  padding: 7.5px;
  background-color: rgb(44, 40, 40);
}

#container,
#display,
.btn {
  border-radius: 5px;
}

#display {
  grid-column: span 4;
  grid-row: span 2;
  border: solid black;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 60px;
  padding: 5px;
  background-color: rgb(201, 198, 198);
}

.btn  {
  width: 75px;
  height: 65px;
}

#zero {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}